<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Id in detail</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h2>Here's your Id in detail.</h2>
    <h2>Post id :<%= post.id %></h2>
    <div class="box">
      <h3 id="user">Username : <%= post.username %></h3>
      <h4 id="content">content : <%= post.content %></h4>
    </div>
</body>
</html>